

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Tienda" description="Debe ingresar la información completa de la tienda que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Formulario de registro de tienda
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
			<!--<code>data-validate="rule1,rule2,...,ruleN"</code>-->
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Consolidado</label>
				
				<input type="text" class="form-control" name="w_consolidado"/>
			</div>
			
			<div class="form-group">
				<label class="control-label">Cadena</label>
				
				<input type="text" class="form-control" name="w_cadena"/>
			</div>
			
			<div class="form-group">
				<label class="control-label">No. Cadena</label>
				
				<input type="text" class="form-control" name="w_no_cadena">
			</div>
			
			<div class="form-group">
				<label class="control-label">Tipo establecimiento</label>
				
				<input type="text" class="form-control" name="w_t_establecimiento"/>
			</div>
			
			<div class="form-group">
				<label class="control-label">RFC</label>
				
				<input type="text" class="form-control" name="w_rfc"/>
			</div>
            <div class="form-group">
				<label class="control-label">Razon Social</label>
				
				<input type="text" class="form-control" name="w_razonsocial"/>
			</div>
			<div class="form-group">
				<label class="control-label">Tipo organización</label>
				
				<input type="text" class="form-control" name="w_t_organizacion"/>
			</div>
            <div class="form-group">
				<label class="control-label">Nombre de tienda</label>
				
				<input type="text" class="form-control" name="w_n_tienda"/>
			</div>
            <div class="form-group">
				<label class="control-label">Horario tienda</label>
				
				<input type="text" class="form-control" name="w_h_tienda"/>
			</div>
            <div class="form-group">
				<label class="control-label">Tamaño tienda</label>
				
				<input type="text" class="form-control" name="w_t_tienda"/>
			</div>
            <div class="form-group">
				<label class="control-label">Calle</label>
				
				<input type="text" class="form-control" name="w_calle"/>
			</div>
            <div class="form-group">
				<label class="control-label">No. Int</label>
				
				<input type="text" class="form-control" name="w_no_int"/>
			</div>
            <div class="form-group">
				<label class="control-label">No. Ext</label>
				
				<input type="text" class="form-control" name="w_no_ext"/>
			</div>
            <div class="form-group">
				<label class="control-label">Colonia</label>
				
				<input type="text" class="form-control" name="w_colonia"/>
			</div>
            <div class="form-group">
				<label class="control-label">Delegación o municipio</label>
				
				<input type="text" class="form-control" name="w_del_munic"/>
			</div>
            <div class="form-group">
				<label class="control-label">Código Municipio</label>
				
				<input type="text" class="form-control" name="w_c_municipio"/>
			</div>
            <div class="form-group">
				<label class="control-label">Estado</label>
				
				<input type="text" class="form-control" name="w_estado"/>
			</div>
            <div class="form-group">
				<label class="control-label">Código estado</label>
				
				<input type="text" class="form-control" name="w_c_estado"/>
			</div>
            <div class="form-group">
				<label class="control-label">C.P.</label>
				
				<input type="text" class="form-control" name="w_cp"/>
			</div>
            <div class="form-group">
				<label class="control-label">GPS X/Y</label>
				
				<input type="text" class="form-control" name="w_gps_xy"/>
			</div>
            <div class="form-group">
				<label class="control-label">Lada</label>
				
				<input type="text" class="form-control" name="w_lada"/>
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
				
				<input type="text" class="form-control" name="w_telefono"/>
			</div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
				
				<input type="text" class="form-control" name="w_email"/>
			</div>
            <div class="form-group">
                <label class="control-label">ID tienda</label>
				
				<input type="text" class="form-control" name="w_id_tienda"/>
			</div>
            <div class="form-group">
                <label class="control-label">Mantas</label>
				
				<input type="text" class="form-control" name="w_mantas"/>
			</div>
            <div class="form-group">
                <label class="control-label">Pendones</label>
				
				<input type="text" class="form-control" name="w_pendones"/>
			</div>
            <div class="form-group">
                <label class="control-label">No. cuenta</label>
				
				<input type="text" class="form-control" name="w_no_cuenta"/>
			</div>
            <div class="form-group">
                <label class="control-label">Región</label>
				
				<input type="text" class="form-control" name="w_region"/>
			</div>
            <div class="form-group">
                <label class="control-label">Zona</label>
				
				<input type="text" class="form-control" name="w_zona"/>
			</div>
			<!--<div class="form-group">
				<label class="control-label">URL Field</label>
				
				<input type="text" class="form-control" name="url" data-validate="required,url" placeholder="URL" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Credit Card Field</label>
				
				<input type="text" class="form-control" name="creditcard" data-validate="required,creditcard" placeholder="Credit Card" />
			</div>-->
			
			<div class="form-group">
				<button type="submit" class="btn btn-success">Registrar Ahora</button>
				<button type="reset" class="btn btn-white">Borrar</button>
			</div>
		
		</form>
	
	</div>

</div>