<div class="login-container">

	<div class="row">

		<div class="col-sm-6">

			<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


					// Validation and Ajax action
					$("form#login").validate({
						rules: {
							username: {
								required: true
							},

							passwd: {
								required: true
							}
						},

						messages: {
							username: {
								required: 'Por favor, ingrese su nombre de usuario.'
							},

							passwd: {
								required: 'Por favor, ingrese su contraseña.'
							}
						},

						// Form Processing via AJAX
						submitHandler: function(form)
						{
							showLoadingBar(70); // Fill progress bar to 70% (just a given value)

							var opts = {
								"closeButton": true,
								"debug": false,
								"positionClass": "toast-top-full-width",
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "5000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							};

							$.ajax({
								url: "data/login-check.php",
								method: 'POST',
								dataType: 'json',
								data: {
									do_login: true,
									username: $(form).find('#username').val(),
									passwd: $(form).find('#passwd').val(),
								},
								success: function(resp)
								{
									showLoadingBar({
										delay: .5,
										pct: 100,
										finish: function(){

											// Redirect after successful login page (when progress bar reaches 100%)
											if(resp.accessGranted)
											{
												window.location.hash = '#/app/dashboard-variant-1';
												//$('body').removeClass('login-page login-light lockscreen-page');
												}
								            else
											{
												toastr.error("Ha ingresado una contraseña incorrecta, por favor, inténtelo de nuevo. El usuario y la contraseña es<strong>demo/demo</strong> :)", "Inicio de sesión no válido!", opts);
												$(form).find('#passwd').select();
											}
																					}
									});

																	}
							});

						}
					});

					// Set Form focus
					$("form#login .form-group:has(.form-control):first .form-control").focus();
				});
			</script>

			<!-- Errors container -->
			<div class="errors-container">

				
			</div>

			<!-- Add class "fade-in-effect" for login form effect -->
			<form method="post" role="form" id="login" class="login-form fade-in-effect">

				<div class="login-header">
					<a href="#/app/dashboard-variant-1" class="logo">
						<img src="assets/images/logo@2x.png" alt="" width="150" />
						<span>Inicia sesión</span>
					</a>

					<p>Estimado usuario, inicia sesión para accesar al área de admin!</p>
				</div>


				<div class="form-group">
					<label class="control-label" for="username">Usuario</label>
					<input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="passwd">Contraseña</label>
					<input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-dark  btn-block text-left">
						<i class="fa-lock"></i>
						Inicia sesión
					</button>
				</div>

				<div class="login-footer">
					<a href="">Forgot your password?</a>

					<div class="info-links">
						<a href="">ToS</a> -
						<a href="">Privacy Policy</a>
					</div>

				</div>

			</form>

			<!-- External login -->
			<div class="external-login">
				<a href="" class="facebook">
					<i class="fa-facebook"></i>
					Iniciar sesión con Facebook
				</a>

				<!-- 
				<a href="<?php _hash(); ?>" class="twitter">
					<i class="fa-twitter"></i>
					Login with Twitter
				</a>

				<a href="<?php _hash(); ?>" class="gplus">
					<i class="fa-google-plus"></i>
					Login with Google Plus
				</a>
				 -->
			</div>

		</div>

	</div>

</div>