
<div class="login-container">

	<div class="row">

		<div class="col-sm-6">

			<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


					// Validation and Ajax action
					$("form#login").validate({

						// Form Processing via AJAX
						submitHandler: function(form)
						{
							showLoadingBar(70); // Fill progress bar to 70% (just a given value)

							var opts = {
								"closeButton": true,
								"debug": false,
								"positionClass": "toast-top-full-width",
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "5000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							};
							
						}
					});

					// Set Form focus
					$("form#login .form-group:has(.form-control):first .form-control").focus();
				});
				
			</script>


			<!-- Errors container -->
			<div class="errors-container">

				
			</div>

			<!-- Add class "fade-in-effect" for login form effect -->
			<form method="post" role="form" id="login" class="login-form fade-in-effect" ng-submit="login();">
			
				<div class="login-header">
					<a  class="logo">
						<img src="assets/images/ISOL.png" alt="" /></a>

					<p>Estimado usuario, inicia sesión para acceder al área de administrador!</p>
				</div>
				<div class="form-group alert-danger">
				<span class="validate-has-error">{{errorsubmit}}</span>
				</div>
				 
				<div class="form-group">
					<label class="control-label" for="username" >Usuario</label>
					<input type="text" class="form-control" name="userName" id="userName" autocomplete="off" ng-model="user.userName" 
							data-validate="required"  title="Por favor, ingrese su nombre de usuario." required />
				</div>

				<div class="form-group">
					<label class="control-label" for="passwd" >Contraseña</label>
					<input type="password" class="form-control" name="password" id="password" autocomplete="off" ng-model="user.password"
							data-validate="required" title="Por favor, ingrese su contraseña." required />
							
				</div>
<center>
				<div class="form-group">
					<button type="submit" class="btn btn-primary  btn-block text-left">
						<i class="fa-lock"></i>
						<span translate="LOGIN_LOGINUSER"></span> 
                        Iniciar sesión
					</button>
				</div>
				</center>
<center>
				<div class="login-footer">
					<a href="">¿Olvidaste tu contraseña?</a>
					<div class="vertical-bottom">
					<button class="btn btn-white btn-sm btn-icon-standalone">
						<i class="fa-download"></i>
						<span><a href="/app-debug.apk">
						Descarga tu app Móvil</a>
						</span>
					</button>
					</div>
				</div>
				</center>
				
				

			</form>

			<!-- External login -->
			<div class="external-login">
				<!--<a href="" class="facebook">
					<i class="fa-facebook"></i>
					Facebook Login
				</a>-->

				<!-- 
				<a href="<?php _hash(); ?>" class="twitter">
					<i class="fa-twitter"></i>
					Login with Twitter
				</a>

				<a href="<?php _hash(); ?>" class="gplus">
					<i class="fa-google-plus"></i>
					Login with Google Plus
				</a>
				 -->
			</div>

		</div>

	</div>

</div>