<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3 class="panel-title">Avisos</h3>
		<div class="panel-options btn1">
			<a
				ui-sref="app.avisos-registro({avisoItem:avisItem, listaAvisos:listaAvisos})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-options"></div>

			<div class="tab-content no-margin">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="born">Realiza una
								busqueda</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa-search"></i>
								</div>
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.categoria">
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-88">
				<div class="row">
					<div class="col-lg-3" ng-repeat="avisItem in avisos">
						<div class="cuadro_intro_hover "
							style="background-color: #cccccc;">
							<p style="text-align: center; margin-top: 20px;">
								<img
									src="http://trovacamporella.com/img/trovacamporella-fiat500.png"
									class="img-responsive" alt="">
							</p>
							<div class="caption">
								<div class="blur"></div>
								<div class="caption-text">
									<h3
										style="border-top: 2px solid white; border-bottom: 2px solid white; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<h2 style="border-bottom: 2px solid white;">$
										{{avisItem.categoria}}</h2>
									<h6>Descripción: {{avisItem.descripcion}}</h6>
									<a
										ui-sref="app.avisos-registro({avisoItem:avisItem, listaAvisos:listaAvisos})"
										class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
										title="Editar"> </a> <a href=""
										class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
										title="Eliminar"> </a> <a
										ui-sref="app.imagen-producto({entidad: repository.loggedUser.idUsuario, figura : 'FIG_EMPLEADO' })"
										class="btn btn-info btn-sm btn-icon icon-left fa fa-file-image-o"
										title="Documentos"> </a>

									<button class=" btn btn btn-success botones"
										ui-sref="app.publicproductos({})">
										<span class="glyphicon glyphicon-plus">Detalles</span>
									</button>

								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		  <!-- <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-4">
    						<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="assets/images/avisoinas.png" alt=""></a>
								</div>							
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
										<h3
										style="border-top: 2px solid blue; border-bottom: 2px solid blue; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<a class="btn btn-mini" href="#">» Read More</a>
									</div>
									<div class="caption">
								<div class="blur"></div>
								<div class="caption-text">
									<h3
										style="border-top: 2px solid white; border-bottom: 2px solid white; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<h2 style="border-bottom: 2px solid white;">$
										{{avisItem.categoria}}</h2>
									<h6>Descripción: {{avisItem.descripcion}}</h6>
									<a
										ui-sref="app.avisos-registro({avisoItem:avisItem, listaAvisos:listaAvisos})"
										class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
										title="Editar"> </a> <a href=""
										class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
										title="Eliminar"> </a> <a
										ui-sref="app.imagen-producto({entidad: repository.loggedUser.idUsuario, figura : 'FIG_EMPLEADO' })"
										class="btn btn-info btn-sm btn-icon icon-left fa fa-file-image-o"
										title="Documentos"> </a>

									<button class=" btn btn btn-success botones"
										ui-sref="app.publicproductos({})">
										<span class="glyphicon glyphicon-plus">Detalles</span>
									</button>

								</div>
							</div>
									*************caption****************
									
								
                            </div>
                        </li>
                        <li class="col-sm-4">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="assets/images/avisoretar.png" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<h3
										style="border-top: 2px solid blue; border-bottom: 2px solid blue; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>   
                        <li class="col-sm-4">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="assets/images/avisoretar.png" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<h3
										style="border-top: 2px solid blue; border-bottom: 2px solid blue; padding: 10px;">
										{{avisItem.asunto}}</h3>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>                 
                       </ul>
                     </div>      
                   </div> -->
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script> 

<!-- ******************************************************************************************** -->

<!-- 

<div class="col-xs-12">

    <div class="page-header">
        <h3>Bootstrap 3.3.0</h3>
        <p>Responsive Moving Box Carousel Demo</p>
    </div>
        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
    						<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="assets/images/avisoin.png" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="assets/images/avisoret.png" alt=""></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>                  
                       </ul>
                     </div>      
                   </div>
                   
                   
           	   <nav>
			<ul class="control-box pager">
				<li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
				<li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
			</ul>
		</nav>
	   /.control-box   
                              
    </div>/#myCarousel
        
</div>/.col-xs-12          


 -->
