<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Credito"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos del cliente</div>
		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<!-- Default panel -->
	<div class="collapsed panel-default">
		<!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<p>{{cliente.cveFiscal}}</p>
					</div>
					<div class="form-group">
					<p>{{cliente.ruta}}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<p>{{cliente.nombre}} {{cliente.apellidoPaterno}}
							{{cliente.apellidoMaterno}}</p>
					</div>
					<div class="form-group">
					<p>{{cliente.rutaNombre.titular.nombre}} 
					   {{cliente.rutaApellidoPaterno.titular.apellidoPaterno}} 
					   {{cliente.rutaApellidoMaterno.titular.apellidoMaterno}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos generales</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error"
					ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Producto</label> <select
							class="form-control" name="producto"
							ng-model="credito.idProducto" ng-change="cambioProducto();">
							<option ng-repeat="producto in productos"
								ng-selected="credito.idProducto==producto.idProducto"
								value="{{producto.idProducto}}"
								>{{producto.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Monto</label> <input
							class="form-control" name="monto" value="" type="number" id="monto"
							step="1000" data-validate="required" 
							min="credito.minimo" max="credito.maximo"
							ng-min="credito.minimo" ng-max="credito.maximo"
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese el monto mínimo" ng-model="credito.monto">
					</div>
					<!-- 
					<div class="form-group">
						<label for="intNumber">An input that accepts an integer from 1 to 20 in increments of 1:</label>
						<input id="intNumber" type="range" min="1" max="20" value="10" onchange="updateRangeValue(this);" />
						<strong><output id="intNumberValue">&nbsp;</output></strong>
						<script type="text/javascript">
						function updateRangeValue() {
						  intNumberValue.innerHTML = intNumber.value;
						}
						var intNumber      = document.getElementById("intNumber");
						var intNumberValue = document.getElementById("intNumberValue");
						updateRangeValue();
						</script>
					</div>
					 -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Plazo</label> <input type="text"
							data-validate="number" class="form-control" name="PlazoC"
							ng-model="credito.plazo" ng-disabled="true" />

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Unidade de plazo</label> <input
							type="text" data-validate="number" class="form-control"
							name="PagoC" ng-model="credito.unidadPlazo" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago x Millar</label> <input
							type="text" data-validate="number" class="form-control"
							name="pagoMillar" ng-model="credito.pago" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Forma de pago</label> <input
							type="text" data-validate="number" class="form-control"
							name="frecuenciaCobro" ng-model="credito.frecuenciaCobro"
							ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Comision</label> <input type="text"
							data-validate="number" class="form-control" name="comision"
							ng-model="credito.comision" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Tasa de Referencia</label> <input
							type="text" data-validate="number" class="form-control"
							name="tasa" ng-model="credito.tasa" ng-disabled="true" />
					</div>
				</div>
			</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Co-Deudor</label> <select
							class="form-control" name="codeudor"
							ng-model="credito.idCoDedudor" ng-show="true">
							<option ng-repeat="codeudor in codeudores"
								ng-selected="codeudor.idCliente==credito.idCoDeudor"
								value="{{codeudor.idCliente}}"
								>{{codeudor.nombre}} {{codeudor.apellidoPaterno}} {{codeudor.apellidoMaterno}}</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div align="right" class="form-group">
						<button type="submit" class="btn btn-success"
							ng-disabled="!saveproject.$valid" ng-click="submitTheForm()">Registrar
							Ahora</button>
					</div>
				</div>
			</div>
	</form>
	</div>
</div>
