

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Regiones" description="Debe ingresar la información completa de la región que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Datos para la Región
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Nombre</label>
				
				<input type="text" class="form-control" name="nombre_region" data-validate="maxlength[2]" />
			</div>
			<div class="form-group">
				<label class="control-label">Zona</label>
				
				<input type="text" class="form-control" name="zona_region" data-validate="maxlength[2]" />
			</div>
			
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Crear Región</button>
			</div>
		
		</form>
	
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Secciones</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-5', 'lg');">Agregar Zona</button></div>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-6', 'lg');">Agregar Región</button></div>
	</div>
	<div class="panel-body">
		
		
		<div id="tree"></div>
		
				
	</div>
</div>



<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar seccion</h4>
	</div>
	
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Nombre</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="Seccion uno">
				</div>	
				
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>


<script type="text/ng-template" id="modal-6">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Agregar pregunta</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Lineamiento</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="John">
				</div>	
				
			</div>
			
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Pregunta</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-3" class="control-label">Tipo</label>
					
					<input type="text" class="form-control" id="field-3" placeholder="Address">
				</div>	
				
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-4" class="control-label">Requerido</label>
					
					<input type="text" class="form-control" id="field-4" placeholder="Boston">
				</div>	
				
			</div>
						
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group no-margin">
					<label for="field-7" class="control-label">Comentario</label>
					
					<textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself"></textarea>
				</div>	
				
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>





<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			
			function getTree() {
				// Some logic to retrieve, or generate tree structure
				var tree = [
				  {
				    text: "01. Regiones",
				    
				  },
				  {
				    text: "02. Zonas",
				  },
				];
				return tree;
			}

			$('#tree').treeview({data: getTree()});
			
			
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>


