
<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Concensionarios</h3>
		
		<div class="panel-options btn1"><a class="btn btn-success" ng-click="openModal('modal-5', 'lg');">Cargar</a></div>
	</div>
	<div class="panel-body">
		
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false"  >
		
		<table class="table table-small-font table-bordered table-striped" id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th data-priority="3">Región</th>
					<th data-priority="3">Zona</th>
					<th>Razón Social</th>
					<th data-priority="3">No. Cuenta</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>5</td>
					<td>501</td>
					<td>Argelia Piña Ramirez</td>
					<td class="center">2285</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="index.html#/app/data-reg_crear_concesionarios" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>501</td>
					<td>Poliforma de Color S. de R.L. de C.V.</td>
					<td class="center">4261</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="index.html#/app/data-reg_crear_concesionarios" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
	
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>

<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>

<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Cargar Archivo .XLSX</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">

				
				<div class="form-group">
					<label for="field-1" class="control-label">Por favor, seleccione su archivo.</label>
					
					<input type="file" class="form-control" id="field-4">
				</div>	
				

			
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Subir</button>
	</div>
</script>