<div class="modal fade" id="modal-6">
									<div class="modal-dialog">
										<div class="modal-content">

											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">&times;</button>
												<h4 class="modal-title">Registra los idiomas que
													dominas</h4>
											</div>

											<div class="modal-body">


												<div class="row">
													<div class="col-md-3">
														<div class="form-group">
															<label class="control-label" for="emp">Idioma</label><input
																ng-disabled="canEdit" class="form-control"
																name="nom_emp" id="nom_emp" data-validate="required"
																placeholder="Ingresa el idioma que dominas"
																title="Campo obligatorio"
																ng-model="cliente.nombreEmpresa" />
														</div>
													</div>
													<div class="col-md-2">
														<label for="category">Oral</label> <select
															ng-model="bookmark.category"
															ng-options="value for value in categories" id="category"
															class="form-control" type="text" placeholder="categoria">
															<option value="">Basico</option>
															<option value="">Intermedio</option>
															<option value="">Avanzado</option>
														</select>
													</div>


													<div class="col-md-2">
														<label for="category">Escrito</label> <select
															ng-model="bookmark.category"
															ng-options="value for value in categories" id="category"
															class="form-control" type="text" placeholder="categoria">
															<option value="">Basico</option>
															<option value="">Intermedio</option>
															<option value="">Avanzado</option>
														</select>
													</div>


													<div class="col-md-2">
														<label for="category">Lengua materna</label>
														<div class="option_item">
															<input type="checkbox" value="1" checked="checked">
														</div>
													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-white"
													data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-info">Save
													changes</button>
											</div>
										</div>
									</div>
								</div>