<div class="modal-body">
				
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="title">Nombre</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-bookmark"></i>
									</div>
									<input ng-model="bookmark.title" id="title"
										class="form-control" type="text"
										placeholder="Ingresa el nombre del proyecto">
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label for="category">Categoria</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-folder-open"></i>
										
									</div>
									<select ng-model="bookmark.category"
										ng-options="value for value in categories" id="category"
										class="form-control" type="text"
										placeholder="categoria">
									<option value="">Selecciona una categoria</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<label for="periodo">Periodo de tiempo</label>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="colonia_residencial">De</label>
								<div class="input-group">
								<div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
								<select ng-model="bookmark.category"
									ng-options="value for value in categories" id="category"
									class="form-control" type="text"
									placeholder="mes">
									<option value="">Selecciona el mes de inicio</option>
								</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="colonia_residencial">A</label>
								<div class="input-group">
								<div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
								<select ng-model="bookmark.category"
									ng-options="value for value in categories" id="category"
									class="form-control" type="text"
									placeholder="mes">
									<option value="">Selecciona el mes final</option>
								</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="colonia_residencial"></label>
								<div class="input-group">
								<div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
								<select ng-model="bookmark.category"
										ng-options="value for value in categories" id="category"
										class="form-control" type="text" 
										placeholder="Año">
									<option value="">Selecciona el año de inicio</option>
									</select>
									</div>
								</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="colonia_residencial"></label>
								<div class="input-group">
								<div class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</div>
								<select ng-model="bookmark.category"
										ng-options="value for value in categories" id="category"
										class="form-control" type="text" 
										placeholder="año">
									<option value="">Selecciona el año final</option>
									</select>
									</div>								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="url">URL</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-link"></i>
									</div>
									<input ng-model="bookmark.url" id="url" class="form-control"
										type="url" placeholder="Ingresar una URL válida">
								</div>
							</div>
						</div>
