

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Datos Nómina Empleados</h3>
	</div>
	<div class="panel-body">
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"> </i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black"> &ndash; </span> <span class="expand-icon"
						style="color: black"> + </span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="apellidoPaterno"
									placeholder="Apellido Paterno" ng-model="filters.apellido">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Cve Empleado</th>
						<th data-priority="3">Nombre</th>
						<th data-priority="3">Fecha Ingreso</th>
						<th data-priority="3">Salario Nómina</th>
						<th data-priority="3">Salario Asimilados</th>
						<th data-priority="3">Semanas Gracia</th>
						<th data-priority="3">Fecha Baja</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="empItem in empleados">
						<td>{{empItem.cveEmpleado}}</td>
						<td>{{empItem.nombreCompleto}}</td>
						<td>{{empItem.fechaIngreso}}</td>
						<td>{{empItem.salarioBase | currency}}</td>
						<td>{{empItem.salarioAsimilado| currency}}</td>
						<td>{{empItem.semanasGracia | number}}</td>
						<td>{{empItem.fechaBaja}}</td>
						<!-- 
						<td><a
							ui-sref="app.creditoEmpleado-form({credItem:creditoItem, listaTipos:listaTiposCredito, listaEstatus:listaEstatusCredito})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> </a> <a href=""
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
							title="Eliminar"> </a></td>
						 -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
