<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Co-Deudores</h3>
		<div class="panel-options btn1">
			<a ng-show="crearCodeudor"
				ui-sref="app.codeudorform({clienteId: cliente.idCliente, clienteRaiz: cliente, cliente: {}})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">

		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title encabezados">Datos del cliente</div>
				<small class="text-small pull-right" style="padding-top: 5px;">
				</small>
			</div>
			<!-- Default panel -->
			<div class="collapsed panel-default">
				<!-- Add class "collapsed" to minimize the panel -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p>{{cliente.cveFiscal}}</p>
							</div>
							<div class="form-group">
								<p>{{cliente.ruta}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p>{{cliente.nombre}} {{cliente.apellidoPaterno}}
									{{cliente.apellidoMaterno}}</p>
							</div>
							<div class="form-group">
								<p>{{cliente.rutaNombre.titular.nombre}}
									{{cliente.rutaApellidoPaterno.titular.apellidoPaterno}}
									{{cliente.rutaApellidoMaterno.titular.apellidoMaterno}}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<p>{{cliente.ruta.ejecutivo}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Nombre</th>
						<th data-priority="3">Apellidos</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="clienteItem in clientes">
						<td>{{clienteItem.nombre}}</td>
						<td>{{clienteItem.apellidoPaterno}}
							{{clienteItem.apellidoMaterno}}</td>
						<td><a ng-show="crearCodeudor"
							ui-sref="app.codeudorform({clienteId: cliente.idCliente, cliente: clienteItem,figura: figura, clienteRaiz: cliente})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> </a>
							<a ng-show="verCodeudor && !crearCodeudor"
							ui-sref="app.codeudorform({clienteId: cliente.idCliente, cliente: clienteItem,figura: figura, clienteRaiz: cliente})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-eye"
							title="Ver"> </a>
							 <a
							ui-sref="app.documentos({entidad: clienteItem, figura : 'FIG_CODEUDOR' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text"
							title="Documentos"> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>