<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Re-Estructura de Credito por negociación"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos del cliente</div>
		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<!-- Default panel -->
	<div class="collapsed panel-default">
		<!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<p>{{cliente.cveFiscal}}</p>
					</div>
					<div class="form-group">
						<p>{{cliente.ruta}}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<p>{{cliente.nombre}} {{cliente.apellidoPaterno}}
							{{cliente.apellidoMaterno}}</p>
					</div>
					<div class="form-group">
						<p>{{cliente.rutaNombre.titular.nombre}}
							{{cliente.rutaApellidoPaterno.titular.apellidoPaterno}}
							{{cliente.rutaApellidoMaterno.titular.apellidoMaterno}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos Originales</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<div class="panel-body txtparrafos">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Producto Original</label> <input
						class="form-control" type="text" ng-disabled="true"
						ng-model="creditoOri.producto" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Monto Original</label> <input
						class="form-control" ng-disabled="true"
						ng-model="creditoOri.monto" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Plazo Original</label> <input
						type="text" class="form-control" ng-model="creditoOri.plazo"
						ng-disabled="true" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Saldo Actual</label> <input
						type="text" data-validate="number" class="form-control"
						name="saldo" ng-model="creditoOri.saldo" ng-disabled="true" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Comisión por Restructura</label> <input
						type="text" class="form-control" ng-model="comisionRest" ng-change="calculaSaldo();"
						/>
				</div>
			</div>
			<div class="col-md-3" ng-init="montoNeg = creditoOri.saldo">
				<div class="form-group">
					<label class="control-label">Saldo Actualizado</label> <input
						type="text" data-validate="number" class="form-control" 
						name="saldo" ng-model = "montoNeg" ng-disabled="true"/>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Fecha Original</label> <input
						class="form-control" type="text" ng-disabled="true"
						ng-model="creditoOri.fechaEmision" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Nuevo Crédito</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Producto</label> <select
							class="form-control" name="producto"
							ng-model="credito.idProducto" ng-change="cambioProducto();" required>
							<option ng-repeat="producto in productos"
								ng-selected="credito.idProducto==producto.idProducto"
								value="{{producto.idProducto}}">{{producto.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Monto</label> <input
							class="form-control" name="mon_min" value="" type="number"
							data-validate="required" ng-min="credito.minimo"
							ng-max="credito.maximo" ng-disabled="true"
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese el monto mínimo" ng-model="montoNeg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Plazo</label> <input type="number"
							data-validate="number" class="form-control" name="PlazoC"
							ng-model="credito.plazo" ng-disabled="productDisabled" />

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Unidade de plazo</label> <input
							type="text" data-validate="number" class="form-control"
							name="PagoC" ng-model="credito.unidadPlazo" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago x Millar</label> <input
							type="text" data-validate="number" class="form-control"
							name="pagoMillar" ng-model="credito.pago" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Forma de pago</label> <input
							type="text" data-validate="number" class="form-control"
							name="frecuenciaCobro" ng-model="credito.frecuenciaCobro"
							ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Comision</label> <input type="text"
							data-validate="number" class="form-control" name="comision"
							ng-model="credito.comision" ng-disabled="productDisabled" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Tasa de Referencia</label> <input
							type="text" data-validate="number" class="form-control"
							name="tasa" ng-model="credito.tasa" ng-disabled="productDisabled" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Co-Deudor</label> <select
							class="form-control" name="codeudor"
							ng-model="credito.idCoDedudor" ng-required = "requiereCod">
							<option ng-repeat="codeudor in codeudores"
								ng-selected="codeudor.id==credito.idCoDeudor"
								value="{{codeudor.id}}">{{codeudor.nombre +' '+ codeudor.apellidoPaterno +' '+ codeudor.apellidoMaterno}}</option>
						</select>
					</div>
				</div>
				
				
	
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Fecha de Emisión</label> <input
							class="form-control datepicker" data-start-view="2"
							ng-model="credito.fechaEmision" required>
					</div>
				</div>
			</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success"
					ng-disabled="!saveproject.$valid" ng-click="submitTheForm()">Registrar
					Ahora</button>
			</div>
		</div>
	</div>
	</form>
</div>
</div>
