<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Pago"
	description="Debe ingresar la información completa"></page-title>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos Generales</div>
		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<!-- Default panel -->
	<div class="collapsed panel-default">
		<!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<p>
							Nombre: <b>{{pago.nombreCliente}}</b> 
							Ruta: <b>{{pago.ruta}}</b>
							Ejecutivo: <b>{{pago.ejecutivo}}</b>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<p>
							Producto: <b>{{pago.nombreProducto}}</b> 
							Estatus: <b>{{pago.estatusCredito}}</b>
							Pago Pactado: <b>{{pago.pagoFijo}}</b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title encabezados">Datos generales</div>

		<small class="text-small pull-right" style="padding-top: 5px;">
		</small>
	</div>
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">

		<form role="forl" id="saveproject" class="validate" validate
			name="saveproject">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Comisión</label> <input type="text"
							data-validate="number" class="form-control" name="comision"
							ng-model="pago.comision" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Pago Adicional</label> 
						<input type="text"
							data-validate="number" class="form-control" name="pagoAdicional"
							ng-model="pago.pagoAdicional" ng-disabled="true" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Pago Total</label> <input type="number"
							data-validate="number" class="form-control" name="totalPago"
							ng-model="pago.abono" ng-disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div align="right" class="form-group">
						<button type="submit" class="btn btn-success"
							ng-disabled="!saveproject.$valid" ng-click="submitTheForm()">Cancelar pago</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
