<!-- Custom column filtering -->
<div class="panel panel-default txtparrafos">
    <div class="panel-heading">
        <h3 class="panel-title encabezados">Usuarios</h3>

        <div class="panel-options btn1 encabezados"><a  ui-sref="app.usuarioform({})"  type="submit" class="btn btn-success">Nuevo</a></div>
    </div>
    <div class="panel-body">

        <!-- Default panel -->
        <div class="panel panel-default">
            <!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading">
                <h4 class="panel-title encabezados">Filtros</h4>

                <div class="panel-options">
                    <a href="">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon" style="color: black">&ndash;</span>
                        <span class="expand-icon" style="color: black">+</span>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" id="rolefilter" name="rolefilter" ng-change="changeRol();" ng-model="filters.roles" multiple>
                                </select>
                            </div>

                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" id="estatusfilter" name="estatusfilter" ng-change="changeEstatus();" ng-model="filters.estatus" multiple>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field-1" placeholder="Nombre" ng-model="filters.nombre">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field-2" placeholder="Apellido" ng-model="filters.apellido" >
                            </div>
                        </div>
                    </div>
					<!-- 
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="mailfilteruser" ng-model="filters.correoElectronico" name="mailfilteruser" placeholder="Mail" />
                        </div>
                    </div>
 					-->
                    <div class="form-group-separator"></div>
                </form>
            </div>
        </div>


        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Usuario</th>
                        <th>Correo electrónico</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Estatus</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userItem in allUsers">
                        <td>{{userItem.nombreUsuario}}</td>
                        <td>{{userItem.correoElectronico}}</td>
                        <td>{{userItem.nombre}}</td>
                        <td>{{userItem.apellidoPaterno}}</td>
                        <td>{{userItem.apellidoMaterno}}</td>
                        <td>{{userItem.estatusActual}}</td>
                        <td>
                            <a ui-sref="app.usuarioformEdit({ userId: userItem.idUsuario})"  class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar">
                            </a>
                            <a  ng-click="resetPassword('modalresetPwd','lg',userItem.idUsuario, userItem.nombreUsuario);" class="btn btn-danger btn-sm btn-icon icon-left fa fa-key" title="Reset-Password">
                            </a>
                            <a  ng-show="userItem.estatusActual=='Activo'" ng-click="openModal('modalconfirmdelete','lg',userItem.idUsuario,'Desactivar');" class="btn btn-sm glyphicon glyphicon-thumbs-down" title="Desactivar">
                            </a>
                            <a  ng-show="userItem.estatusActual=='Inactivo'" ng-click="openModal('modalconfirmdelete','lg',userItem.idUsuario,'Activar');" class="btn btn-sm glyphicon glyphicon-thumbs-up" title="Activar">
                            </a>
                            <a
							ui-sref="app.documentos({entidad: userItem, figura : 'FIG_EMPLEADO' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text" title="Documentos">
						</a>
						<a  ng-click="showRoles(userItem.nombreUsuario)" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-info " title="Ver Roles">
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="modalconfirmdelete">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="deleteUser()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{accion}} usuario</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span>Estás seguro de {{accion}} el usuario?</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-red" ng-click="deleteUser();">{{accion}}</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="modalresetPwd">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="resetPassword()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Reescribir contraseña Usuario: {{userName}}</h4>
        </div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Contraseña</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="linecons-lock"></i>
									</div>
									<input ng-model="resetPwd.contrasena" type="password"
										class="form-control" name="password" id="password"
										data-validate="required" ng-minlength="8" ng-maxlength="20"
										ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
										placeholder="Ingrese una contraseña segura"
										title="Campo obligatorio" /> <span
										ng-show="form.password.$error.required && form.password.$dirty"></span>
									<span
										ng-show="!form.password.$error.required && (form.password.$error.minlength || form.password.$error.maxlength) && form.password.$dirty">La
										contraseña debe tener entre 8 y 20 caracteres .</span> <span
										ng-show="!form.password.$error.required && !form.password.$error.minlength && !form.password.$error.maxlength && form.password.$error.pattern && form.password.$dirty">
										La contraseña debe contener al menos una letra mayúscula, un
										número y un símbolo.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Confirmar Contraseña</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="linecons-lock"></i>
									</div>
									<input ng-model="resetPwd.contrasenaConfirm" type="password"
										class="form-control" name="password_c" id="password_c"
										valid-password-c required
										data-validate="required,equalTo[#password]"
										data-message-equal-to="Las contraseñas no coinciden."
										placeholder="Ingrese de nuevo su contraseña"
										title="Campo obligatorio, por favor confirme su contraseña." />
									<span
										ng-show="form.password_c.$error.required && form.password_c.$dirty"></span>
								</div>
							</div>
						</div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-red" ng-click="resetPassword();">Actualizar</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="showRoles"> 
		<div class="modal-dialog" style="width: 95%">

				<div class="modal-header">
            		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Roles</h4>
				</div>

				<div class="modal-body">
					<div class="tab-pane with-bg active" id="fwv-1">

		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Rol</th>
						<th data-priority="3">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in roles">
						<td>{{item.role.nombre}}</td>
 <td>
                            <a  ui-sref="app.rolform({secObjId:item.role.idObjetoSeguridad, tipoObjeto:item.role.tipoObje , titulo:titulo})" 
								 class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar Rol"
								ng-click="currentModal.dismiss();">
                            </a>
                            
                        </td>
					</tr>
				</tbody>
			</table>
		</div>

					</div>
				</div>
        		<div class="modal-footer">
            		<button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
        		</div>
		</div>

</script>

<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>