  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
      <div class="item active">
      <a href="http://localhost:8080/#/app/perfil-perfiledit"><img src="assets/images/perfil1.png" alt=""></a>
                   <div class="carousel-caption">
          </div>
        </div>
        
        
        <!-- End Item -->
        
          <div class="item">
           <a href="http://localhost:8080/#/app/perfil-perfiledit"><img src="assets/images/convocatoria1.jpg" alt=""></a>
           <div class="carousel-caption">
             </div>
        </div>
 
         <div class="item">
          <a href="http://localhost:8080/#/app/productos-productos"><img src="assets/images/producto1.png" alt=""></a>
              <div class="carousel-caption">
          </div>
        </div><!-- End Item -->
        
        
        <div class="item">
         <a href="http://localhost:8080/#/app/avisos-aviso"><img src="assets/images/avisos1.png" alt=""></a>
                  <div class="carousel-caption">
          </div>
        </div><!-- End Item -->
        
        <div class="item">
         <a href="http://localhost:8080/#/app/solicitudes-vacaciones"><img src="assets/images/vacaciones1.png" alt=""></a>
           <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
         <a href="http://localhost:8080/#/app/solicitudes-reembolsos"><img src="assets/images/reembolso1.png" alt=""></a>
                  <div class="carousel-caption">
          </div>
        </div>                
      </div>
    	<ul class="nav nav-pills nav-justified">
          <li data-target="#myCarousel" data-slide-to="0"><a href="assets/images/perfil.png">Perfil<small></small></a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a href="assets/images/convocatoria.jpg">Convocatoria<small></small></a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a href="assets/images/productos.png">Productos<small></small></a></li>
          <li data-target="#myCarousel" data-slide-to="3"><a href="assets/images/avisos.png">Avisos<small></small></a></li>
          <li data-target="#myCarousel" data-slide-to="4"><a href="assets/images/vacaciones.png">Vacaciones<small></small></a></li>
          <li data-target="#myCarousel" data-slide-to="5"><a href="assets/images/reembolsos.png">Reembolso<small></small></a></li>
        </ul>

    </div>
</div>
 