<div class="page-container">
		<!-- 	<div class="col-sm-13"> -->
		<div class="page-header">
			<blockquote class="blockquote blockquote-success">
				<h3 class="panel-title">Lista de Convocatorias</h3>
				<p>
				<p>
				
				
				
				
				<p>
				<p>
		<div class="panel-options btn1">
			<a
				ui-sref="app.convocatoria-registro({productoItem:prodItem, listaFamilias:listaFamilias})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
					
				</div>
				</blockquote>
				</div>

	<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>