<div class="panel panel-default">
	<div class="panel-heading">
	
			<h2><center><label><u><i><b>Productos existentes</b></i></u></label></center></h2>
		<div class="panel-options btn1">
			<a
				ui-sref="app.productos-registro({productoItem:prodItem, listaFamilias:listaFamilias})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<!-- <div class="panel panel-default">
			<div class="panel-options"></div>
			<div class="tab-content no-margin">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="born">Realiza la
								busqueda de un producto</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa-search"></i>
								</div>
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		-->
		 <!-- *********************** -->
		<form class="form-wrapper cf">
		<div class="input-group">
								<div class="input-group-addon">
									<i class="fa-search"></i>
								</div>
			<input type="text" class="form-control" id="nombre"
				placeholder="Buscar producto" ng-model="filters.nombre">
				
					</form>
		<div class="byline">
			
		</div>
		</div>

		<!-- *********************** -->
<br>
<br>
		<div class="row">
			<div class="col-sm-88">
				<div class="row">
					<div class="col-lg-4" ng-repeat="prodItem in productos">
						<div class="cuadro_intro_hover "
							style="background-color: #cccccc;">
							<p style="text-align: center; margin-top: 20px;">
								<img
									src="http://trovacamporella.com/img/trovacamporella-fiat500.png"
									class="img-responsive" alt="">
							</p>
							<div class="caption">
								<div class="blur"></div>
								<div class="caption-text">
									<h3
										style="border-top: 2px solid white; border-bottom: 2px solid white; padding: 10px;">
										{{prodItem.nombre}}</h3>
									<h2 style="border-bottom: 2px solid white;">$
										{{prodItem.precio}}</h2>
									<h6>Descripción: {{prodItem.descripcion}}</h6>
									<a
										ui-sref="app.productos-registro({productoItem:prodItem, listaFamilias:listaFamilias})"
										class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
										title="Editar"> </a> <a href=""
										class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
										title="Eliminar"> </a> <a
										ui-sref="app.imagen-producto({entidad: repository.loggedUser.idUsuario, figura : 'FIG_EMPLEADO' })"
										class="btn btn-info btn-sm btn-icon icon-left fa fa-file-image-o"
										title="Documentos"> </a>

									<button class=" btn btn btn-success botones"
										ui-sref="app.publicproductos({})">
										<span class="glyphicon glyphicon-plus">Detalles</span>
									</button>

								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>