
<page-title ng-if="layoutOptions.pageTitles" class="encabezados" title="Registro de Catálogos" description="Ingresar la información completa del catálogo de {{parentName}}"></page-title>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title encabezados">
            Datos generales
        </div>

        <small class="text-small pull-right" style="padding-top:5px;">
        </small>
    </div>

    <div class="panel-body txtparrafos">

        <form role="form" id="saveCatalogo" name="saveCatalogo" method="post" class="validate" ng-submit="submitTheForm()">

            <div class="form-group">
                <input type="text" class="form-control" name="Name" ng-model="catalogoItem.nombre" required placeholder="Ingrese nombre del catálogo"/>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="Name"  ng-model="catalogoItem.descripcion"  placeholder="Ingrese descripción del catálogo"/>
            </div>
            
            <div class="form-group" ng-show="parentName=='Tipo de Documento Identidad'">
                <input type="number"  class="form-control" min="1" name="Name"  ng-model="catalogoItem.clave" required placeholder="Ingrese número caracteres requeridos"/>
            </div>
             <div class="form-group">
                <input type="text" class="form-control" name="ptsRiesgo"  ng-model="catalogoItem.puntosRiesgo" required placeholder="Ingrese puntos de riesgo"/>
            </div>
            

            <div align="right" class="form-group">
                <button type="submit" class="btn btn-success" ng-disabled="!saveCatalogo.$valid" >Registrar Ahora</button>
            </div>


        </form>

    </div>
</div>
