
<!-- Nuevo formulario de usuario -->
<div class="page-container">
		<!-- 	<div class="col-sm-13"> -->
	
		<div class="page-header">
			<blockquote class="blockquote blockquote-success">
				
				<p>
				<p>
				<p>
<section class="profile-env">

					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<!-- User Info Sidebar -->
								<div class="user-info-sidebar">

									<a href="#" class="user-img"> <img
										src="assets/images/user-4.png" alt="user-img"
										class="img-cirlce img-responsive img-thumbnail" />
									</a> <a href="#" class="user-name">
										{{repository.loggedUser.showname}} <span
										class="user-status is-online"></span>
									</a>

									<hr />

									<ul class="list-unstyled user-info-list">

										<button type="button"
											class="btn btn-success btn-block text-left"
											ui-sref="app.perfiledit({ userId: repository.loggedUser.idUsuario})">
											Editar Perfil <i
												class="glyphicon glyphicon-pencil pull-right"></i>
										</button>
									</ul>
								</div>
							</div>
						</div>
						<p>
						<p>
						<p>
							<!-- <div class="col-md-6">
					<div class="form-group"></div>
					<div class="panel panel-color panel-danger">Add class "collapsed" to minimize the panel
						<div class="panel-heading">
							<h3 class="panel-title">Importante!!!</h3>
							
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						
						<div class="panel-body">
							

					<label>Hola a todos los usuarios en general se le pide de la manera mas atenta llenar los formularios que se muestran a continuacio  de la manera mas sincera posible ya que los datos registrados son muy utiles para la empresa ISOL y asi puedan ser registrados sus datos para posteriormente general su C.V de cada cada uno de ustedes..
					Por su atencion Gracias!!!</label>			
						</div>
					</div>
					
				</div> -->
				<div class="col-md-6">
					
					<!-- Default panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							Bienvenid@
						</div>
						
						<div class="panel-body">
							
							<label>Hola a todos los usuarios en general se le pide de la manera mas 
							atenta llenar los formularios que se muestran a continuación  de la manera 
							mas sincera posible ya que los datos registrados son muy utiles para la 
							empresa ISOL y asi puedan ser registrados sus datos para posteriormente 
							general su C.V de cada cada uno de ustedes..
					Por su atención Gracias!!!</label>
						<div class="col-md-6">
						</div>
					</div></div>
				</div>
				
               
			
		
